@import "variables";

.auth_reg_container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  background-color: $main-color;
  .reg_main {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.reg_image {
  padding-left: 50px;
  margin-top: 35px;
  width: 40%;
  height: 60%;
}

.reg_image img {
  width: 100%;
  height: 100%;
}

.reg_form {
  padding-right: 50px;
  margin-top: 35px;
  max-width: 50%;
  max-height: 65%;
  min-height: 50%;
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 20px;

  .form_title {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }

  .inputs form {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .form_submit {
    margin-top: 15px;
  }

  .form_login_link {
    margin-top: 15%;
  }
}

.form_login_link_text {
  padding-left: 5px;
}
