<div class="auth_log_container">
  <div class="log_main">
    <div class="log_image">
      <img src="assets/icons/hospital-logo.svg" alt="hospital" />
    </div>
    <div class="log_form">
      <div class="form_title"><h2>Login</h2></div>
      <div class="inputs">
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Account name</mat-label>
            <input matInput type="text" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" />
          </mat-form-field>
          <div class="form_submit">
            <button mat-raised-button color="primary">Login</button>
            <div class="form_login_link">
              <p class="form_login_link">Not registered yet?<br /></p>
              <a
                mat-raised-button
                routerLink="/signUp"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
              >
                Register
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
